# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
build_generated/
grad/
out/
out_pretty/
CmakeFiles/


# Files
cmake_install.cmake
CMakeCache.txt
Makefile
ies_parser/CMakeFiles/CMakeDirectoryInformation.cmake
ies_parser/CMakeFiles/progress.marks
ies_parser/CMakeFiles/ies_parser.dir/build.make
ies_parser/CMakeFiles/ies_parser.dir/cmake_clean_target.cmake
ies_parser/CMakeFiles/ies_parser.dir/cmake_clean.cmake
ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.internal
ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.make
ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.ts
ies_parser/CMakeFiles/ies_parser.dir/depend.make
ies_parser/CMakeFiles/ies_parser.dir/DependInfo.cmake
ies_parser/CMakeFiles/ies_parser.dir/flags.make
ies_parser/CMakeFiles/ies_parser.dir/link.txt
ies_parser/CMakeFiles/ies_parser.dir/progress.make
.vscode/settings.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/FindOpenMP/ompver_C.bin
build/CMakeFiles/FindOpenMP/ompver_CXX.bin
build/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
build/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
build/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
build/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
build/CMakeFiles/hydra.dir/build.make
build/CMakeFiles/hydra.dir/cmake_clean.cmake
build/CMakeFiles/hydra.dir/compiler_depend.make
build/CMakeFiles/hydra.dir/compiler_depend.ts
build/CMakeFiles/hydra.dir/depend.make
build/CMakeFiles/hydra.dir/DependInfo.cmake
build/CMakeFiles/hydra.dir/flags.make
build/CMakeFiles/hydra.dir/link.txt
build/CMakeFiles/hydra.dir/progress.make
build/CMakeFiles/miniz.dir/build.make
build/CMakeFiles/miniz.dir/cmake_clean_target.cmake
build/CMakeFiles/miniz.dir/cmake_clean.cmake
build/CMakeFiles/miniz.dir/compiler_depend.make
build/CMakeFiles/miniz.dir/compiler_depend.ts
build/CMakeFiles/miniz.dir/depend.make
build/CMakeFiles/miniz.dir/DependInfo.cmake
build/CMakeFiles/miniz.dir/flags.make
build/CMakeFiles/miniz.dir/link.txt
build/CMakeFiles/miniz.dir/progress.make
build/ies_parser/CMakeFiles/CMakeDirectoryInformation.cmake
build/ies_parser/CMakeFiles/progress.marks
build/ies_parser/CMakeFiles/ies_parser.dir/build.make
build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean_target.cmake
build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean.cmake
build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.make
build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.ts
build/ies_parser/CMakeFiles/ies_parser.dir/depend.make
build/ies_parser/CMakeFiles/ies_parser.dir/DependInfo.cmake
build/ies_parser/CMakeFiles/ies_parser.dir/flags.make
build/ies_parser/CMakeFiles/ies_parser.dir/link.txt
build/ies_parser/CMakeFiles/ies_parser.dir/progress.make
build/win/build/compile_commands.json
build/win/build/.cmake/api/v1/query/client-vscode/query.json
build/win/build/CMakeFiles/cmake.check_cache
build/win/build/CMakeFiles/CMakeConfigureLog.yaml
build/win/build/CMakeFiles/CMakeDirectoryInformation.cmake
build/win/build/CMakeFiles/Makefile.cmake
build/win/build/CMakeFiles/Makefile2
build/win/build/CMakeFiles/progress.marks
build/win/build/CMakeFiles/TargetDirectories.txt
build/win/build/CMakeFiles/3.27.1/CMakeCCompiler.cmake
build/win/build/CMakeFiles/3.27.1/CMakeCXXCompiler.cmake
build/win/build/CMakeFiles/3.27.1/CMakeDetermineCompilerABI_C.bin
build/win/build/CMakeFiles/3.27.1/CMakeDetermineCompilerABI_CXX.bin
build/win/build/CMakeFiles/3.27.1/CMakeRCCompiler.cmake
build/win/build/CMakeFiles/3.27.1/CMakeSystem.cmake
build/win/build/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
build/win/build/CMakeFiles/3.27.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/win/build/CMakeFiles/FindOpenMP/ompver_C.bin
build/win/build/CMakeFiles/FindOpenMP/ompver_CXX.bin
build/win/build/CMakeFiles/hydra.dir/build.make
build/win/build/CMakeFiles/hydra.dir/cmake_clean.cmake
build/win/build/CMakeFiles/hydra.dir/compiler_depend.make
build/win/build/CMakeFiles/hydra.dir/compiler_depend.ts
build/win/build/CMakeFiles/hydra.dir/depend.make
build/win/build/CMakeFiles/hydra.dir/DependInfo.cmake
build/win/build/CMakeFiles/hydra.dir/flags.make
build/win/build/CMakeFiles/hydra.dir/includes_CXX.rsp
build/win/build/CMakeFiles/hydra.dir/link.txt
build/win/build/CMakeFiles/hydra.dir/linkLibs.rsp
build/win/build/CMakeFiles/hydra.dir/objects1.rsp
build/win/build/CMakeFiles/hydra.dir/progress.make
build/win/build/CMakeFiles/miniz.dir/build.make
build/win/build/CMakeFiles/miniz.dir/cmake_clean_target.cmake
build/win/build/CMakeFiles/miniz.dir/cmake_clean.cmake
build/win/build/CMakeFiles/miniz.dir/compiler_depend.make
build/win/build/CMakeFiles/miniz.dir/compiler_depend.ts
build/win/build/CMakeFiles/miniz.dir/depend.make
build/win/build/CMakeFiles/miniz.dir/DependInfo.cmake
build/win/build/CMakeFiles/miniz.dir/flags.make
build/win/build/CMakeFiles/miniz.dir/includes_C.rsp
build/win/build/CMakeFiles/miniz.dir/link.txt
build/win/build/CMakeFiles/miniz.dir/progress.make
build/win/build/ies_parser/CMakeFiles/CMakeDirectoryInformation.cmake
build/win/build/ies_parser/CMakeFiles/progress.marks
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/build.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean_target.cmake
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean.cmake
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.ts
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/depend.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/DependInfo.cmake
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/flags.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/link.txt
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/progress.make
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.22.1/CMakeCCompiler.cmake
CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.22.1/CMakeSystem.cmake
CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/FindOpenMP/ompver_C.bin
CMakeFiles/FindOpenMP/ompver_CXX.bin
CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
CMakeFiles/FindOpenMP/OpenMPTryFlag.c
CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
CMakeFiles/hydra.dir/build.make
CMakeFiles/hydra.dir/cmake_clean.cmake
CMakeFiles/hydra.dir/compiler_depend.internal
CMakeFiles/hydra.dir/compiler_depend.make
CMakeFiles/hydra.dir/compiler_depend.ts
CMakeFiles/hydra.dir/depend.make
CMakeFiles/hydra.dir/DependInfo.cmake
CMakeFiles/hydra.dir/flags.make
CMakeFiles/hydra.dir/link.txt
CMakeFiles/hydra.dir/progress.make
CMakeFiles/miniz.dir/build.make
CMakeFiles/miniz.dir/cmake_clean_target.cmake
CMakeFiles/miniz.dir/cmake_clean.cmake
CMakeFiles/miniz.dir/compiler_depend.internal
CMakeFiles/miniz.dir/compiler_depend.make
CMakeFiles/miniz.dir/compiler_depend.ts
CMakeFiles/miniz.dir/depend.make
CMakeFiles/miniz.dir/DependInfo.cmake
CMakeFiles/miniz.dir/flags.make
CMakeFiles/miniz.dir/link.txt
CMakeFiles/miniz.dir/progress.make
bin-debug/hydra
out/params.txt
bin-release/hydra
scenes/L6.2_fireplace_hydra/change_00000.xml
scenes/L6.2_fireplace_hydra/statex_00001.xml
scenes/L6.2_fireplace_hydra/data/chunk_00000.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00001.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00002.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00003.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00004.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00005.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00006.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00007.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00008.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00009.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00010.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00011.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00012.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00013.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00014.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00015.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00016.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00017.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00018.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00019.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00020.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00021.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00022.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00023.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00024.vsgf
scenes/conference/change_00000.xml
scenes/conference/statex_00001.xml
scenes/conference/data/chunk_00000.image4ub
scenes/conference/data/chunk_00001.vsgf
scenes/conference/data/chunk_00002.vsgf
scenes/conference/data/chunk_00003.vsgf
scenes/conference/data/chunk_00004.vsgf
scenes/conference/data/chunk_00005.vsgf
scenes/conference/data/chunk_00006.vsgf
scenes/conference/data/chunk_00007.vsgf
scenes/conference/data/chunk_00008.vsgf
scenes/conference/data/chunk_00009.vsgf
scenes/conference/data/chunk_00010.vsgf
scenes/conference/data/chunk_00011.vsgf
scenes/conference/data/chunk_00012.vsgf
scenes/conference/data/chunk_00013.vsgf
scenes/conference/data/chunk_00014.vsgf
scenes/conference/data/chunk_00015.vsgf
scenes/conference/data/chunk_00016.vsgf
scenes/conference/data/chunk_00017.vsgf
scenes/conference/data/chunk_00018.vsgf
scenes/conference/data/chunk_00019.vsgf
scenes/conference/data/chunk_00020.vsgf
scenes/conference/data/chunk_00021.vsgf
scenes/conference/data/chunk_00022.vsgf
scenes/conference/data/chunk_00023.vsgf
scenes/conference/data/chunk_00024.vsgf
scenes/conference/data/chunk_00025.vsgf
scenes/conference/data/chunk_00026.vsgf
scenes/conference/data/chunk_00027.vsgf
scenes/conference/data/chunk_00028.vsgf
scenes/conference/data/chunk_00029.vsgf
scenes/conference/data/chunk_00030.vsgf
scenes/conference/data/chunk_00031.vsgf
scenes/conference/data/chunk_00032.vsgf
scenes/conference/data/chunk_00033.vsgf
scenes/conference/data/chunk_00034.vsgf
scenes/conference/data/chunk_00035.vsgf
scenes/conference/data/chunk_00036.vsgf
scenes/conference/data/chunk_00037.vsgf
scenes/conference/data/chunk_00038.vsgf
scenes/conference/data/chunk_00039.vsgf
scenes/conference/data/chunk_00040.vsgf
scenes/conference/data/chunk_00041.vsgf
scenes/conference/data/chunk_00042.vsgf
scenes/living_room/change_00000.xml
scenes/living_room/statex_00001.xml
scenes/living_room/data/chunk_00000.image4ub
scenes/living_room/data/chunk_00001.image4ub
scenes/living_room/data/chunk_00002.image4ub
scenes/living_room/data/chunk_00003.image4ub
scenes/living_room/data/chunk_00004.image4ub
scenes/living_room/data/chunk_00005.image4ub
scenes/living_room/data/chunk_00006.image4ub
scenes/living_room/data/chunk_00007.image4ub
scenes/living_room/data/chunk_00008.image4ub
scenes/living_room/data/chunk_00009.image4ub
scenes/living_room/data/chunk_00010.image4ub
scenes/living_room/data/chunk_00011.image4ub
scenes/living_room/data/chunk_00012.image4ub
scenes/living_room/data/chunk_00013.image4ub
scenes/living_room/data/chunk_00014.image4ub
scenes/living_room/data/chunk_00015.image4ub
scenes/living_room/data/chunk_00016.image4ub
scenes/living_room/data/chunk_00017.vsgf
scenes/living_room/data/chunk_00018.vsgf
scenes/living_room/data/chunk_00019.vsgf
scenes/living_room/data/chunk_00020.vsgf
scenes/living_room/data/chunk_00021.vsgf
scenes/living_room/data/chunk_00022.vsgf
scenes/living_room/data/chunk_00023.vsgf
scenes/living_room/data/chunk_00024.vsgf
scenes/living_room/data/chunk_00025.vsgf
scenes/living_room/data/chunk_00026.vsgf
scenes/living_room/data/chunk_00027.vsgf
scenes/living_room/data/chunk_00028.vsgf
scenes/living_room/data/chunk_00029.vsgf
scenes/living_room/data/chunk_00030.vsgf
scenes/living_room/data/chunk_00031.vsgf
scenes/living_room/data/chunk_00032.vsgf
scenes/living_room/data/chunk_00033.vsgf
scenes/living_room/data/chunk_00034.vsgf
scenes/living_room/data/chunk_00035.vsgf
scenes/living_room/data/chunk_00036.vsgf
scenes/living_room/data/chunk_00037.vsgf
scenes/living_room/data/chunk_00038.vsgf
scenes/living_room/data/chunk_00039.vsgf
scenes/living_room/data/chunk_00040.vsgf
scenes/living_room/data/chunk_00041.vsgf
scenes/living_room/data/chunk_00042.vsgf
scenes/living_room/data/chunk_00043.vsgf
scenes/living_room/data/chunk_00044.vsgf
scenes/living_room/data/chunk_00045.vsgf
scenes/living_room/data/chunk_00046.vsgf
scenes/living_room/data/chunk_00047.vsgf
scenes/living_room/data/chunk_00048.vsgf
scenes/living_room/data/chunk_00049.vsgf
scenes/living_room/data/chunk_00050.vsgf
scenes/living_room/data/chunk_00051.vsgf
scenes/living_room/data/chunk_00052.vsgf
scenes/living_room/data/chunk_00053.vsgf
scenes/living_room/data/chunk_00054.vsgf
scenes/living_room/data/chunk_00055.vsgf
scenes/living_room/data/chunk_00056.vsgf
scenes/living_room/data/chunk_00057.vsgf
scenes/living_room/data/chunk_00058.vsgf
scenes/living_room/data/chunk_00059.vsgf
scenes/living_room/data/chunk_00060.vsgf
scenes/living_room/data/chunk_00061.vsgf
scenes/living_room/data/chunk_00062.vsgf
scenes/living_room/data/chunk_00063.vsgf
scenes/living_room/data/chunk_00064.vsgf
scenes/living_room/data/chunk_00065.vsgf
scenes/living_room/data/chunk_00066.vsgf
scenes/living_room/data/chunk_00067.vsgf
scenes/living_room/data/chunk_00068.vsgf
scenes/living_room/data/chunk_00069.vsgf
scenes/living_room/data/chunk_00070.vsgf
scenes/living_room/data/chunk_00071.vsgf
scenes/living_room/data/chunk_00072.vsgf
scenes/living_room/data/chunk_00073.vsgf
scenes/living_room/data/chunk_00074.vsgf
scenes/living_room/data/chunk_00075.vsgf
scenes/living_room/data/chunk_00076.vsgf
scenes/living_room/data/chunk_00077.vsgf
scenes/living_room/data/chunk_00078.vsgf
scenes/living_room/data/chunk_00079.vsgf
scenes/living_room/data/chunk_00080.vsgf
scenes/living_room/data/chunk_00081.vsgf
scenes/living_room/data/chunk_00082.vsgf
scenes/living_room/data/chunk_00083.vsgf
scenes/living_room/data/chunk_00084.vsgf
scenes/living_room/data/chunk_00085.vsgf
scenes/living_room/data/chunk_00086.vsgf
scenes/living_room/data/chunk_00087.vsgf
scenes/living_room/data/chunk_00088.vsgf
scenes/living_room/data/chunk_00089.vsgf
scenes/living_room/data/chunk_00090.vsgf
scenes/living_room/data/chunk_00091.vsgf
scenes/living_room/data/chunk_00092.vsgf
scenes/living_room/data/chunk_00093.vsgf
scenes/living_room/data/chunk_00094.vsgf
scenes/living_room/data/chunk_00095.vsgf
scenes/living_room/data/chunk_00096.vsgf
scenes/living_room/data/chunk_00097.vsgf
scenes/living_room/data/chunk_00098.vsgf
scenes/living_room/data/chunk_00099.vsgf
scenes/living_room/data/chunk_00100.vsgf
scenes/living_room/data/chunk_00101.vsgf
scenes/living_room/data/chunk_00102.vsgf
scenes/living_room/data/chunk_00103.vsgf
scenes/living_room/data/chunk_00104.vsgf
scenes/living_room/data/chunk_00105.vsgf
scenes/living_room/data/chunk_00106.vsgf
scenes/living_room/data/chunk_00107.vsgf
scenes/living_room/data/chunk_00108.vsgf
scenes/living_room/data/chunk_00109.vsgf
scenes/living_room/data/chunk_00110.vsgf
scenes/living_room/data/chunk_00111.vsgf
scenes/living_room/data/chunk_00112.vsgf
scenes/living_room/data/chunk_00113.vsgf
scenes/living_room/data/chunk_00114.vsgf
scenes/living_room/data/chunk_00115.vsgf
scenes/living_room/data/chunk_00116.vsgf
scenes/living_room/data/chunk_00117.vsgf
scenes/living_room/data/chunk_00118.vsgf
scenes/living_room/data/chunk_00119.vsgf
scenes/living_room/data/chunk_00120.vsgf
scenes/living_room/data/chunk_00121.vsgf
scenes/living_room/data/chunk_00122.vsgf
scenes/living_room/data/chunk_00123.vsgf
scenes/living_room/data/chunk_00124.vsgf
scenes/living_room/data/chunk_00125.vsgf
scenes/living_room/data/chunk_00126.vsgf
scenes/living_room/data/chunk_00127.vsgf
scenes/living_room/data/chunk_00128.vsgf
scenes/living_room/data/chunk_00129.vsgf
scenes/living_room/data/chunk_00130.vsgf
scenes/living_room/data/chunk_00131.vsgf
scenes/living_room/data/chunk_00132.vsgf
scenes/living_room/data/chunk_00133.vsgf
scenes/living_room/data/chunk_00134.vsgf
scenes/living_room/data/chunk_00135.vsgf
scenes/living_room/data/chunk_00136.vsgf
scenes/living_room/data/chunk_00137.vsgf
scenes/living_room/data/chunk_00138.vsgf
scenes/living_room/data/chunk_00139.vsgf
scenes/living_room/data/chunk_00140.vsgf
scenes/living_room/data/chunk_00141.vsgf
scenes/living_room/data/chunk_00142.vsgf
scenes/living_room/data/chunk_00143.vsgf
scenes/living_room/data/chunk_00144.vsgf
scenes/living_room/data/chunk_00145.vsgf
scenes/living_room/data/chunk_00146.vsgf
scenes/living_room/data/chunk_00147.vsgf
scenes/living_room/data/chunk_00148.vsgf
scenes/living_room/data/chunk_00149.vsgf
scenes/living_room/data/chunk_00150.vsgf
scenes/living_room/data/chunk_00151.vsgf
scenes/living_room/data/chunk_00152.vsgf
scenes/living_room/data/chunk_00153.vsgf
scenes/living_room/data/chunk_00154.vsgf
scenes/living_room/data/chunk_00155.vsgf
scenes/living_room/data/chunk_00156.vsgf
scenes/living_room/data/chunk_00157.vsgf
scenes/living_room/data/chunk_00158.vsgf
scenes/living_room/data/chunk_00159.vsgf
scenes/living_room/data/chunk_00160.vsgf
scenes/living_room/data/chunk_00161.vsgf
scenes/living_room/data/chunk_00162.vsgf
scenes/living_room/data/chunk_00163.vsgf
scenes/living_room/data/chunk_00164.vsgf
scenes/living_room/data/chunk_00165.vsgf
scenes/living_room/data/chunk_00166.vsgf
scenes/living_room/data/chunk_00167.vsgf
z_out.bmp
z_ref.bmp
