# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
build_generated/


# Files
cmake_install.cmake
CMakeCache.txt
Makefile
ies_parser/CMakeFiles/CMakeDirectoryInformation.cmake
ies_parser/CMakeFiles/progress.marks
ies_parser/CMakeFiles/ies_parser.dir/build.make
ies_parser/CMakeFiles/ies_parser.dir/cmake_clean_target.cmake
ies_parser/CMakeFiles/ies_parser.dir/cmake_clean.cmake
ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.internal
ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.make
ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.ts
ies_parser/CMakeFiles/ies_parser.dir/depend.make
ies_parser/CMakeFiles/ies_parser.dir/DependInfo.cmake
ies_parser/CMakeFiles/ies_parser.dir/flags.make
ies_parser/CMakeFiles/ies_parser.dir/link.txt
ies_parser/CMakeFiles/ies_parser.dir/progress.make
.vscode/settings.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/FindOpenMP/ompver_C.bin
build/CMakeFiles/FindOpenMP/ompver_CXX.bin
build/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
build/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
build/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
build/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
build/CMakeFiles/hydra.dir/build.make
build/CMakeFiles/hydra.dir/cmake_clean.cmake
build/CMakeFiles/hydra.dir/compiler_depend.make
build/CMakeFiles/hydra.dir/compiler_depend.ts
build/CMakeFiles/hydra.dir/depend.make
build/CMakeFiles/hydra.dir/DependInfo.cmake
build/CMakeFiles/hydra.dir/flags.make
build/CMakeFiles/hydra.dir/link.txt
build/CMakeFiles/hydra.dir/progress.make
build/CMakeFiles/miniz.dir/build.make
build/CMakeFiles/miniz.dir/cmake_clean_target.cmake
build/CMakeFiles/miniz.dir/cmake_clean.cmake
build/CMakeFiles/miniz.dir/compiler_depend.make
build/CMakeFiles/miniz.dir/compiler_depend.ts
build/CMakeFiles/miniz.dir/depend.make
build/CMakeFiles/miniz.dir/DependInfo.cmake
build/CMakeFiles/miniz.dir/flags.make
build/CMakeFiles/miniz.dir/link.txt
build/CMakeFiles/miniz.dir/progress.make
build/ies_parser/CMakeFiles/CMakeDirectoryInformation.cmake
build/ies_parser/CMakeFiles/progress.marks
build/ies_parser/CMakeFiles/ies_parser.dir/build.make
build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean_target.cmake
build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean.cmake
build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.make
build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.ts
build/ies_parser/CMakeFiles/ies_parser.dir/depend.make
build/ies_parser/CMakeFiles/ies_parser.dir/DependInfo.cmake
build/ies_parser/CMakeFiles/ies_parser.dir/flags.make
build/ies_parser/CMakeFiles/ies_parser.dir/link.txt
build/ies_parser/CMakeFiles/ies_parser.dir/progress.make
build/win/build/compile_commands.json
build/win/build/.cmake/api/v1/query/client-vscode/query.json
build/win/build/CMakeFiles/cmake.check_cache
build/win/build/CMakeFiles/CMakeConfigureLog.yaml
build/win/build/CMakeFiles/CMakeDirectoryInformation.cmake
build/win/build/CMakeFiles/Makefile.cmake
build/win/build/CMakeFiles/Makefile2
build/win/build/CMakeFiles/progress.marks
build/win/build/CMakeFiles/TargetDirectories.txt
build/win/build/CMakeFiles/3.27.1/CMakeCCompiler.cmake
build/win/build/CMakeFiles/3.27.1/CMakeCXXCompiler.cmake
build/win/build/CMakeFiles/3.27.1/CMakeDetermineCompilerABI_C.bin
build/win/build/CMakeFiles/3.27.1/CMakeDetermineCompilerABI_CXX.bin
build/win/build/CMakeFiles/3.27.1/CMakeRCCompiler.cmake
build/win/build/CMakeFiles/3.27.1/CMakeSystem.cmake
build/win/build/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
build/win/build/CMakeFiles/3.27.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/win/build/CMakeFiles/FindOpenMP/ompver_C.bin
build/win/build/CMakeFiles/FindOpenMP/ompver_CXX.bin
build/win/build/CMakeFiles/hydra.dir/build.make
build/win/build/CMakeFiles/hydra.dir/cmake_clean.cmake
build/win/build/CMakeFiles/hydra.dir/compiler_depend.make
build/win/build/CMakeFiles/hydra.dir/compiler_depend.ts
build/win/build/CMakeFiles/hydra.dir/depend.make
build/win/build/CMakeFiles/hydra.dir/DependInfo.cmake
build/win/build/CMakeFiles/hydra.dir/flags.make
build/win/build/CMakeFiles/hydra.dir/includes_CXX.rsp
build/win/build/CMakeFiles/hydra.dir/link.txt
build/win/build/CMakeFiles/hydra.dir/linkLibs.rsp
build/win/build/CMakeFiles/hydra.dir/objects1.rsp
build/win/build/CMakeFiles/hydra.dir/progress.make
build/win/build/CMakeFiles/miniz.dir/build.make
build/win/build/CMakeFiles/miniz.dir/cmake_clean_target.cmake
build/win/build/CMakeFiles/miniz.dir/cmake_clean.cmake
build/win/build/CMakeFiles/miniz.dir/compiler_depend.make
build/win/build/CMakeFiles/miniz.dir/compiler_depend.ts
build/win/build/CMakeFiles/miniz.dir/depend.make
build/win/build/CMakeFiles/miniz.dir/DependInfo.cmake
build/win/build/CMakeFiles/miniz.dir/flags.make
build/win/build/CMakeFiles/miniz.dir/includes_C.rsp
build/win/build/CMakeFiles/miniz.dir/link.txt
build/win/build/CMakeFiles/miniz.dir/progress.make
build/win/build/ies_parser/CMakeFiles/CMakeDirectoryInformation.cmake
build/win/build/ies_parser/CMakeFiles/progress.marks
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/build.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean_target.cmake
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean.cmake
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.ts
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/depend.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/DependInfo.cmake
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/flags.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/link.txt
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/progress.make
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.22.1/CMakeCCompiler.cmake
CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.22.1/CMakeSystem.cmake
CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/FindOpenMP/ompver_C.bin
CMakeFiles/FindOpenMP/ompver_CXX.bin
CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
CMakeFiles/FindOpenMP/OpenMPTryFlag.c
CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
CMakeFiles/hydra.dir/build.make
CMakeFiles/hydra.dir/cmake_clean.cmake
CMakeFiles/hydra.dir/compiler_depend.internal
CMakeFiles/hydra.dir/compiler_depend.make
CMakeFiles/hydra.dir/compiler_depend.ts
CMakeFiles/hydra.dir/depend.make
CMakeFiles/hydra.dir/DependInfo.cmake
CMakeFiles/hydra.dir/flags.make
CMakeFiles/hydra.dir/link.txt
CMakeFiles/hydra.dir/progress.make
CMakeFiles/miniz.dir/build.make
CMakeFiles/miniz.dir/cmake_clean_target.cmake
CMakeFiles/miniz.dir/cmake_clean.cmake
CMakeFiles/miniz.dir/compiler_depend.internal
CMakeFiles/miniz.dir/compiler_depend.make
CMakeFiles/miniz.dir/compiler_depend.ts
CMakeFiles/miniz.dir/depend.make
CMakeFiles/miniz.dir/DependInfo.cmake
CMakeFiles/miniz.dir/flags.make
CMakeFiles/miniz.dir/link.txt
CMakeFiles/miniz.dir/progress.make
