# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
build_generated/


# Files
cmake_install.cmake
CMakeCache.txt
Makefile
ies_parser/CMakeFiles/CMakeDirectoryInformation.cmake
ies_parser/CMakeFiles/progress.marks
ies_parser/CMakeFiles/ies_parser.dir/build.make
ies_parser/CMakeFiles/ies_parser.dir/cmake_clean_target.cmake
ies_parser/CMakeFiles/ies_parser.dir/cmake_clean.cmake
ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.internal
ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.make
ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.ts
ies_parser/CMakeFiles/ies_parser.dir/depend.make
ies_parser/CMakeFiles/ies_parser.dir/DependInfo.cmake
ies_parser/CMakeFiles/ies_parser.dir/flags.make
ies_parser/CMakeFiles/ies_parser.dir/link.txt
ies_parser/CMakeFiles/ies_parser.dir/progress.make
.vscode/settings.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/FindOpenMP/ompver_C.bin
build/CMakeFiles/FindOpenMP/ompver_CXX.bin
build/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
build/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
build/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
build/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
build/CMakeFiles/hydra.dir/build.make
build/CMakeFiles/hydra.dir/cmake_clean.cmake
build/CMakeFiles/hydra.dir/compiler_depend.make
build/CMakeFiles/hydra.dir/compiler_depend.ts
build/CMakeFiles/hydra.dir/depend.make
build/CMakeFiles/hydra.dir/DependInfo.cmake
build/CMakeFiles/hydra.dir/flags.make
build/CMakeFiles/hydra.dir/link.txt
build/CMakeFiles/hydra.dir/progress.make
build/CMakeFiles/miniz.dir/build.make
build/CMakeFiles/miniz.dir/cmake_clean_target.cmake
build/CMakeFiles/miniz.dir/cmake_clean.cmake
build/CMakeFiles/miniz.dir/compiler_depend.make
build/CMakeFiles/miniz.dir/compiler_depend.ts
build/CMakeFiles/miniz.dir/depend.make
build/CMakeFiles/miniz.dir/DependInfo.cmake
build/CMakeFiles/miniz.dir/flags.make
build/CMakeFiles/miniz.dir/link.txt
build/CMakeFiles/miniz.dir/progress.make
build/ies_parser/CMakeFiles/CMakeDirectoryInformation.cmake
build/ies_parser/CMakeFiles/progress.marks
build/ies_parser/CMakeFiles/ies_parser.dir/build.make
build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean_target.cmake
build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean.cmake
build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.make
build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.ts
build/ies_parser/CMakeFiles/ies_parser.dir/depend.make
build/ies_parser/CMakeFiles/ies_parser.dir/DependInfo.cmake
build/ies_parser/CMakeFiles/ies_parser.dir/flags.make
build/ies_parser/CMakeFiles/ies_parser.dir/link.txt
build/ies_parser/CMakeFiles/ies_parser.dir/progress.make
build/win/build/compile_commands.json
build/win/build/.cmake/api/v1/query/client-vscode/query.json
build/win/build/CMakeFiles/cmake.check_cache
build/win/build/CMakeFiles/CMakeConfigureLog.yaml
build/win/build/CMakeFiles/CMakeDirectoryInformation.cmake
build/win/build/CMakeFiles/Makefile.cmake
build/win/build/CMakeFiles/Makefile2
build/win/build/CMakeFiles/progress.marks
build/win/build/CMakeFiles/TargetDirectories.txt
build/win/build/CMakeFiles/3.27.1/CMakeCCompiler.cmake
build/win/build/CMakeFiles/3.27.1/CMakeCXXCompiler.cmake
build/win/build/CMakeFiles/3.27.1/CMakeDetermineCompilerABI_C.bin
build/win/build/CMakeFiles/3.27.1/CMakeDetermineCompilerABI_CXX.bin
build/win/build/CMakeFiles/3.27.1/CMakeRCCompiler.cmake
build/win/build/CMakeFiles/3.27.1/CMakeSystem.cmake
build/win/build/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
build/win/build/CMakeFiles/3.27.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/win/build/CMakeFiles/FindOpenMP/ompver_C.bin
build/win/build/CMakeFiles/FindOpenMP/ompver_CXX.bin
build/win/build/CMakeFiles/hydra.dir/build.make
build/win/build/CMakeFiles/hydra.dir/cmake_clean.cmake
build/win/build/CMakeFiles/hydra.dir/compiler_depend.make
build/win/build/CMakeFiles/hydra.dir/compiler_depend.ts
build/win/build/CMakeFiles/hydra.dir/depend.make
build/win/build/CMakeFiles/hydra.dir/DependInfo.cmake
build/win/build/CMakeFiles/hydra.dir/flags.make
build/win/build/CMakeFiles/hydra.dir/includes_CXX.rsp
build/win/build/CMakeFiles/hydra.dir/link.txt
build/win/build/CMakeFiles/hydra.dir/linkLibs.rsp
build/win/build/CMakeFiles/hydra.dir/objects1.rsp
build/win/build/CMakeFiles/hydra.dir/progress.make
build/win/build/CMakeFiles/miniz.dir/build.make
build/win/build/CMakeFiles/miniz.dir/cmake_clean_target.cmake
build/win/build/CMakeFiles/miniz.dir/cmake_clean.cmake
build/win/build/CMakeFiles/miniz.dir/compiler_depend.make
build/win/build/CMakeFiles/miniz.dir/compiler_depend.ts
build/win/build/CMakeFiles/miniz.dir/depend.make
build/win/build/CMakeFiles/miniz.dir/DependInfo.cmake
build/win/build/CMakeFiles/miniz.dir/flags.make
build/win/build/CMakeFiles/miniz.dir/includes_C.rsp
build/win/build/CMakeFiles/miniz.dir/link.txt
build/win/build/CMakeFiles/miniz.dir/progress.make
build/win/build/ies_parser/CMakeFiles/CMakeDirectoryInformation.cmake
build/win/build/ies_parser/CMakeFiles/progress.marks
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/build.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean_target.cmake
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/cmake_clean.cmake
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/compiler_depend.ts
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/depend.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/DependInfo.cmake
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/flags.make
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/link.txt
build/win/build/ies_parser/CMakeFiles/ies_parser.dir/progress.make
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.22.1/CMakeCCompiler.cmake
CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.22.1/CMakeSystem.cmake
CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/FindOpenMP/ompver_C.bin
CMakeFiles/FindOpenMP/ompver_CXX.bin
CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
CMakeFiles/FindOpenMP/OpenMPTryFlag.c
CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
CMakeFiles/hydra.dir/build.make
CMakeFiles/hydra.dir/cmake_clean.cmake
CMakeFiles/hydra.dir/compiler_depend.internal
CMakeFiles/hydra.dir/compiler_depend.make
CMakeFiles/hydra.dir/compiler_depend.ts
CMakeFiles/hydra.dir/depend.make
CMakeFiles/hydra.dir/DependInfo.cmake
CMakeFiles/hydra.dir/flags.make
CMakeFiles/hydra.dir/link.txt
CMakeFiles/hydra.dir/progress.make
CMakeFiles/miniz.dir/build.make
CMakeFiles/miniz.dir/cmake_clean_target.cmake
CMakeFiles/miniz.dir/cmake_clean.cmake
CMakeFiles/miniz.dir/compiler_depend.internal
CMakeFiles/miniz.dir/compiler_depend.make
CMakeFiles/miniz.dir/compiler_depend.ts
CMakeFiles/miniz.dir/depend.make
CMakeFiles/miniz.dir/DependInfo.cmake
CMakeFiles/miniz.dir/flags.make
CMakeFiles/miniz.dir/link.txt
CMakeFiles/miniz.dir/progress.make
grad/z_out_dNeg_00.bmp
grad/z_out_dNeg_01.bmp
grad/z_out_dNeg_02.bmp
grad/z_out_dNeg_03.bmp
grad/z_out_dNeg_04.bmp
grad/z_out_dNeg_05.bmp
grad/z_out_dNeg_06.bmp
grad/z_out_dNeg_07.bmp
grad/z_out_dNeg_08.bmp
grad/z_out_dNeg_09.bmp
grad/z_out_dNeg_10.bmp
grad/z_out_dNeg_11.bmp
grad/z_out_dNeg_12.bmp
grad/z_out_dNeg_13.bmp
grad/z_out_dNeg_14.bmp
grad/z_out_dNeg_15.bmp
grad/z_out_dNeg_16.bmp
grad/z_out_dNeg_17.bmp
grad/z_out_dNeg_18.bmp
grad/z_out_dNeg_19.bmp
grad/z_out_dNeg_20.bmp
grad/z_out_dNeg_21.bmp
grad/z_out_dNeg_22.bmp
grad/z_out_dNeg_23.bmp
grad/z_out_dNeg_24.bmp
grad/z_out_dNeg_25.bmp
grad/z_out_dNeg_26.bmp
grad/z_out_dNeg_27.bmp
grad/z_out_dNeg_28.bmp
grad/z_out_dNeg_29.bmp
grad/z_out_dNeg_30.bmp
grad/z_out_dNeg_31.bmp
grad/z_out_dNeg_32.bmp
grad/z_out_dNeg_33.bmp
grad/z_out_dNeg_34.bmp
grad/z_out_dNeg_35.bmp
grad/z_out_dNeg_36.bmp
grad/z_out_dNeg_37.bmp
grad/z_out_dNeg_38.bmp
grad/z_out_dNeg_39.bmp
grad/z_out_dNeg_40.bmp
grad/z_out_dNeg_41.bmp
grad/z_out_dNeg_42.bmp
grad/z_out_dNeg_43.bmp
grad/z_out_dNeg_44.bmp
grad/z_out_dNeg_45.bmp
grad/z_out_dNeg_46.bmp
grad/z_out_dNeg_47.bmp
grad/z_out_dNeg_48.bmp
grad/z_out_dNeg_49.bmp
grad/z_out_dNeg_50.bmp
grad/z_out_dNeg_51.bmp
grad/z_out_dNeg_52.bmp
grad/z_out_dNeg_53.bmp
grad/z_out_dNeg_54.bmp
grad/z_out_dNeg_55.bmp
grad/z_out_dNeg_56.bmp
grad/z_out_dNeg_57.bmp
grad/z_out_dNeg_58.bmp
grad/z_out_dNeg_59.bmp
grad/z_out_dNeg_60.bmp
grad/z_out_dNeg_61.bmp
grad/z_out_dNeg_62.bmp
grad/z_out_dNeg_63.bmp
grad/z_out_dNeg_64.bmp
grad/z_out_dNeg_65.bmp
grad/z_out_dNeg_66.bmp
grad/z_out_dNeg_67.bmp
grad/z_out_dNeg_68.bmp
grad/z_out_dNeg_69.bmp
grad/z_out_dNeg_70.bmp
grad/z_out_dNeg_71.bmp
grad/z_out_dNeg_72.bmp
grad/z_out_dNeg_73.bmp
grad/z_out_dNeg_74.bmp
grad/z_out_dNeg_75.bmp
grad/z_out_dNeg_76.bmp
grad/z_out_dNeg_77.bmp
grad/z_out_dNeg_78.bmp
grad/z_out_dNeg_79.bmp
grad/z_out_dNeg_80.bmp
grad/z_out_dNeg_81.bmp
grad/z_out_dNeg_82.bmp
grad/z_out_dNeg_83.bmp
grad/z_out_dNeg_84.bmp
grad/z_out_dNeg_85.bmp
grad/z_out_dNeg_86.bmp
grad/z_out_dNeg_87.bmp
grad/z_out_dNeg_88.bmp
grad/z_out_dNeg_89.bmp
grad/z_out_dNeg_90.bmp
grad/z_out_dNeg_91.bmp
grad/z_out_dNeg_92.bmp
grad/z_out_dNeg_93.bmp
grad/z_out_dNeg_94.bmp
grad/z_out_dNeg_95.bmp
grad/z_out_dNeg_96.bmp
grad/z_out_dNeg_97.bmp
grad/z_out_dNeg_98.bmp
grad/z_out_dNeg_99.bmp
grad/z_out_dPos_00.bmp
grad/z_out_dPos_01.bmp
grad/z_out_dPos_02.bmp
grad/z_out_dPos_03.bmp
grad/z_out_dPos_04.bmp
grad/z_out_dPos_05.bmp
grad/z_out_dPos_06.bmp
grad/z_out_dPos_07.bmp
grad/z_out_dPos_08.bmp
grad/z_out_dPos_09.bmp
grad/z_out_dPos_10.bmp
grad/z_out_dPos_11.bmp
grad/z_out_dPos_12.bmp
grad/z_out_dPos_13.bmp
grad/z_out_dPos_14.bmp
grad/z_out_dPos_15.bmp
grad/z_out_dPos_16.bmp
grad/z_out_dPos_17.bmp
grad/z_out_dPos_18.bmp
grad/z_out_dPos_19.bmp
grad/z_out_dPos_20.bmp
grad/z_out_dPos_21.bmp
grad/z_out_dPos_22.bmp
grad/z_out_dPos_23.bmp
grad/z_out_dPos_24.bmp
grad/z_out_dPos_25.bmp
grad/z_out_dPos_26.bmp
grad/z_out_dPos_27.bmp
grad/z_out_dPos_28.bmp
grad/z_out_dPos_29.bmp
grad/z_out_dPos_30.bmp
grad/z_out_dPos_31.bmp
grad/z_out_dPos_32.bmp
grad/z_out_dPos_33.bmp
grad/z_out_dPos_34.bmp
grad/z_out_dPos_35.bmp
grad/z_out_dPos_36.bmp
grad/z_out_dPos_37.bmp
grad/z_out_dPos_38.bmp
grad/z_out_dPos_39.bmp
grad/z_out_dPos_40.bmp
grad/z_out_dPos_41.bmp
grad/z_out_dPos_42.bmp
grad/z_out_dPos_43.bmp
grad/z_out_dPos_44.bmp
grad/z_out_dPos_45.bmp
grad/z_out_dPos_46.bmp
grad/z_out_dPos_47.bmp
grad/z_out_dPos_48.bmp
grad/z_out_dPos_49.bmp
grad/z_out_dPos_50.bmp
grad/z_out_dPos_51.bmp
grad/z_out_dPos_52.bmp
grad/z_out_dPos_53.bmp
grad/z_out_dPos_54.bmp
grad/z_out_dPos_55.bmp
grad/z_out_dPos_56.bmp
grad/z_out_dPos_57.bmp
grad/z_out_dPos_58.bmp
grad/z_out_dPos_59.bmp
grad/z_out_dPos_60.bmp
grad/z_out_dPos_61.bmp
grad/z_out_dPos_62.bmp
grad/z_out_dPos_63.bmp
grad/z_out_dPos_64.bmp
grad/z_out_dPos_65.bmp
grad/z_out_dPos_66.bmp
grad/z_out_dPos_67.bmp
grad/z_out_dPos_68.bmp
grad/z_out_dPos_69.bmp
grad/z_out_dPos_70.bmp
grad/z_out_dPos_71.bmp
grad/z_out_dPos_72.bmp
grad/z_out_dPos_73.bmp
grad/z_out_dPos_74.bmp
grad/z_out_dPos_75.bmp
grad/z_out_dPos_76.bmp
grad/z_out_dPos_77.bmp
grad/z_out_dPos_78.bmp
grad/z_out_dPos_79.bmp
grad/z_out_dPos_80.bmp
grad/z_out_dPos_81.bmp
grad/z_out_dPos_82.bmp
grad/z_out_dPos_83.bmp
grad/z_out_dPos_84.bmp
grad/z_out_dPos_85.bmp
grad/z_out_dPos_86.bmp
grad/z_out_dPos_87.bmp
grad/z_out_dPos_88.bmp
grad/z_out_dPos_89.bmp
grad/z_out_dPos_90.bmp
grad/z_out_dPos_91.bmp
grad/z_out_dPos_92.bmp
grad/z_out_dPos_93.bmp
grad/z_out_dPos_94.bmp
grad/z_out_dPos_95.bmp
grad/z_out_dPos_96.bmp
grad/z_out_dPos_97.bmp
grad/z_out_dPos_98.bmp
grad/z_out_dPos_99.bmp
out/z_out_out_00.bmp
out/z_out_out_01.bmp
out/z_out_out_02.bmp
out/z_out_out_03.bmp
out/z_out_out_04.bmp
out/z_out_out_05.bmp
out/z_out_out_06.bmp
out/z_out_out_07.bmp
out/z_out_out_08.bmp
out/z_out_out_09.bmp
out/z_out_out_10.bmp
out/z_out_out_11.bmp
out/z_out_out_12.bmp
out/z_out_out_13.bmp
out/z_out_out_14.bmp
out/z_out_out_15.bmp
out/z_out_out_16.bmp
out/z_out_out_17.bmp
out/z_out_out_18.bmp
out/z_out_out_19.bmp
out/z_out_out_20.bmp
out/z_out_out_21.bmp
out/z_out_out_22.bmp
out/z_out_out_23.bmp
out/z_out_out_24.bmp
out/z_out_out_25.bmp
out/z_out_out_26.bmp
out/z_out_out_27.bmp
out/z_out_out_28.bmp
out/z_out_out_29.bmp
out/z_out_out_30.bmp
out/z_out_out_31.bmp
out/z_out_out_32.bmp
out/z_out_out_33.bmp
out/z_out_out_34.bmp
out/z_out_out_35.bmp
out/z_out_out_36.bmp
out/z_out_out_37.bmp
out/z_out_out_38.bmp
out/z_out_out_39.bmp
out/z_out_out_40.bmp
out/z_out_out_41.bmp
out/z_out_out_42.bmp
out/z_out_out_43.bmp
out/z_out_out_44.bmp
out/z_out_out_45.bmp
out/z_out_out_46.bmp
out/z_out_out_47.bmp
out/z_out_out_48.bmp
out/z_out_out_49.bmp
out/z_out_out_50.bmp
out/z_out_out_51.bmp
out/z_out_out_52.bmp
out/z_out_out_53.bmp
out/z_out_out_54.bmp
out/z_out_out_55.bmp
out/z_out_out_56.bmp
out/z_out_out_57.bmp
out/z_out_out_58.bmp
out/z_out_out_59.bmp
out/z_out_out_60.bmp
out/z_out_out_61.bmp
out/z_out_out_62.bmp
out/z_out_out_63.bmp
out/z_out_out_64.bmp
out/z_out_out_65.bmp
out/z_out_out_66.bmp
out/z_out_out_67.bmp
out/z_out_out_68.bmp
out/z_out_out_69.bmp
out/z_out_out_70.bmp
out/z_out_out_71.bmp
out/z_out_out_72.bmp
out/z_out_out_73.bmp
out/z_out_out_74.bmp
out/z_out_out_75.bmp
out/z_out_out_76.bmp
out/z_out_out_77.bmp
out/z_out_out_78.bmp
out/z_out_out_79.bmp
out/z_out_out_80.bmp
out/z_out_out_81.bmp
out/z_out_out_82.bmp
out/z_out_out_83.bmp
out/z_out_out_84.bmp
out/z_out_out_85.bmp
out/z_out_out_86.bmp
out/z_out_out_87.bmp
out/z_out_out_88.bmp
out/z_out_out_89.bmp
out/z_out_out_90.bmp
out/z_out_out_91.bmp
out/z_out_out_92.bmp
out/z_out_out_93.bmp
out/z_out_out_94.bmp
out/z_out_out_95.bmp
out/z_out_out_96.bmp
out/z_out_out_97.bmp
out/z_out_out_98.bmp
out/z_out_out_99.bmp
bin-debug/hydra
grad/z_out_dNeg_100.bmp
grad/z_out_dNeg_101.bmp
grad/z_out_dNeg_102.bmp
grad/z_out_dNeg_103.bmp
grad/z_out_dNeg_104.bmp
grad/z_out_dNeg_105.bmp
grad/z_out_dNeg_106.bmp
grad/z_out_dNeg_107.bmp
grad/z_out_dNeg_108.bmp
grad/z_out_dNeg_109.bmp
grad/z_out_dNeg_110.bmp
grad/z_out_dNeg_111.bmp
grad/z_out_dNeg_112.bmp
grad/z_out_dNeg_113.bmp
grad/z_out_dNeg_114.bmp
grad/z_out_dNeg_115.bmp
grad/z_out_dNeg_116.bmp
grad/z_out_dNeg_117.bmp
grad/z_out_dNeg_118.bmp
grad/z_out_dNeg_119.bmp
grad/z_out_dNeg_120.bmp
grad/z_out_dNeg_121.bmp
grad/z_out_dNeg_122.bmp
grad/z_out_dNeg_123.bmp
grad/z_out_dNeg_124.bmp
grad/z_out_dNeg_125.bmp
grad/z_out_dNeg_126.bmp
grad/z_out_dNeg_127.bmp
grad/z_out_dNeg_128.bmp
grad/z_out_dNeg_129.bmp
grad/z_out_dNeg_130.bmp
grad/z_out_dNeg_131.bmp
grad/z_out_dNeg_132.bmp
grad/z_out_dNeg_133.bmp
grad/z_out_dNeg_134.bmp
grad/z_out_dNeg_135.bmp
grad/z_out_dNeg_136.bmp
grad/z_out_dNeg_137.bmp
grad/z_out_dNeg_138.bmp
grad/z_out_dNeg_139.bmp
grad/z_out_dNeg_140.bmp
grad/z_out_dNeg_141.bmp
grad/z_out_dPos_100.bmp
grad/z_out_dPos_101.bmp
grad/z_out_dPos_102.bmp
grad/z_out_dPos_103.bmp
grad/z_out_dPos_104.bmp
grad/z_out_dPos_105.bmp
grad/z_out_dPos_106.bmp
grad/z_out_dPos_107.bmp
grad/z_out_dPos_108.bmp
grad/z_out_dPos_109.bmp
grad/z_out_dPos_110.bmp
grad/z_out_dPos_111.bmp
grad/z_out_dPos_112.bmp
grad/z_out_dPos_113.bmp
grad/z_out_dPos_114.bmp
grad/z_out_dPos_115.bmp
grad/z_out_dPos_116.bmp
grad/z_out_dPos_117.bmp
grad/z_out_dPos_118.bmp
grad/z_out_dPos_119.bmp
grad/z_out_dPos_120.bmp
grad/z_out_dPos_121.bmp
grad/z_out_dPos_122.bmp
grad/z_out_dPos_123.bmp
grad/z_out_dPos_124.bmp
grad/z_out_dPos_125.bmp
grad/z_out_dPos_126.bmp
grad/z_out_dPos_127.bmp
grad/z_out_dPos_128.bmp
grad/z_out_dPos_129.bmp
grad/z_out_dPos_130.bmp
grad/z_out_dPos_131.bmp
grad/z_out_dPos_132.bmp
grad/z_out_dPos_133.bmp
grad/z_out_dPos_134.bmp
grad/z_out_dPos_135.bmp
grad/z_out_dPos_136.bmp
grad/z_out_dPos_137.bmp
grad/z_out_dPos_138.bmp
grad/z_out_dPos_139.bmp
grad/z_out_dPos_140.bmp
grad/z_out_dPos_141.bmp
out/params.txt
out/z_out_out_100.bmp
out/z_out_out_101.bmp
out/z_out_out_102.bmp
out/z_out_out_103.bmp
out/z_out_out_104.bmp
out/z_out_out_105.bmp
out/z_out_out_106.bmp
out/z_out_out_107.bmp
out/z_out_out_108.bmp
out/z_out_out_109.bmp
out/z_out_out_110.bmp
out/z_out_out_111.bmp
out/z_out_out_112.bmp
out/z_out_out_113.bmp
out/z_out_out_114.bmp
out/z_out_out_115.bmp
out/z_out_out_116.bmp
out/z_out_out_117.bmp
out/z_out_out_118.bmp
out/z_out_out_119.bmp
out/z_out_out_120.bmp
out/z_out_out_121.bmp
out/z_out_out_122.bmp
out/z_out_out_123.bmp
out/z_out_out_124.bmp
out/z_out_out_125.bmp
out/z_out_out_126.bmp
out/z_out_out_127.bmp
out/z_out_out_128.bmp
out/z_out_out_129.bmp
out/z_out_out_130.bmp
out/z_out_out_131.bmp
out/z_out_out_132.bmp
out/z_out_out_133.bmp
out/z_out_out_134.bmp
out/z_out_out_135.bmp
out/z_out_out_136.bmp
out/z_out_out_137.bmp
out/z_out_out_138.bmp
out/z_out_out_139.bmp
out/z_out_out_140.bmp
out/z_out_out_141.bmp
out_pretty/z_out_out_000.bmp
out_pretty/z_out_out_010.bmp
bin-release/hydra
scenes/L6.2_fireplace_hydra/change_00000.xml
scenes/L6.2_fireplace_hydra/statex_00001.xml
scenes/L6.2_fireplace_hydra/data/chunk_00000.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00001.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00002.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00003.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00004.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00005.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00006.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00007.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00008.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00009.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00010.image4ub
scenes/L6.2_fireplace_hydra/data/chunk_00011.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00012.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00013.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00014.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00015.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00016.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00017.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00018.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00019.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00020.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00021.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00022.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00023.vsgf
scenes/L6.2_fireplace_hydra/data/chunk_00024.vsgf
scenes/conference/change_00000.xml
scenes/conference/statex_00001.xml
scenes/conference/data/chunk_00000.image4ub
scenes/conference/data/chunk_00001.vsgf
scenes/conference/data/chunk_00002.vsgf
scenes/conference/data/chunk_00003.vsgf
scenes/conference/data/chunk_00004.vsgf
scenes/conference/data/chunk_00005.vsgf
scenes/conference/data/chunk_00006.vsgf
scenes/conference/data/chunk_00007.vsgf
scenes/conference/data/chunk_00008.vsgf
scenes/conference/data/chunk_00009.vsgf
scenes/conference/data/chunk_00010.vsgf
scenes/conference/data/chunk_00011.vsgf
scenes/conference/data/chunk_00012.vsgf
scenes/conference/data/chunk_00013.vsgf
scenes/conference/data/chunk_00014.vsgf
scenes/conference/data/chunk_00015.vsgf
scenes/conference/data/chunk_00016.vsgf
scenes/conference/data/chunk_00017.vsgf
scenes/conference/data/chunk_00018.vsgf
scenes/conference/data/chunk_00019.vsgf
scenes/conference/data/chunk_00020.vsgf
scenes/conference/data/chunk_00021.vsgf
scenes/conference/data/chunk_00022.vsgf
scenes/conference/data/chunk_00023.vsgf
scenes/conference/data/chunk_00024.vsgf
scenes/conference/data/chunk_00025.vsgf
scenes/conference/data/chunk_00026.vsgf
scenes/conference/data/chunk_00027.vsgf
scenes/conference/data/chunk_00028.vsgf
scenes/conference/data/chunk_00029.vsgf
scenes/conference/data/chunk_00030.vsgf
scenes/conference/data/chunk_00031.vsgf
scenes/conference/data/chunk_00032.vsgf
scenes/conference/data/chunk_00033.vsgf
scenes/conference/data/chunk_00034.vsgf
scenes/conference/data/chunk_00035.vsgf
scenes/conference/data/chunk_00036.vsgf
scenes/conference/data/chunk_00037.vsgf
scenes/conference/data/chunk_00038.vsgf
scenes/conference/data/chunk_00039.vsgf
scenes/conference/data/chunk_00040.vsgf
scenes/conference/data/chunk_00041.vsgf
scenes/conference/data/chunk_00042.vsgf
scenes/living_room/change_00000.xml
scenes/living_room/statex_00001.xml
scenes/living_room/data/chunk_00000.image4ub
scenes/living_room/data/chunk_00001.image4ub
scenes/living_room/data/chunk_00002.image4ub
scenes/living_room/data/chunk_00003.image4ub
scenes/living_room/data/chunk_00004.image4ub
scenes/living_room/data/chunk_00005.image4ub
scenes/living_room/data/chunk_00006.image4ub
scenes/living_room/data/chunk_00007.image4ub
scenes/living_room/data/chunk_00008.image4ub
scenes/living_room/data/chunk_00009.image4ub
scenes/living_room/data/chunk_00010.image4ub
scenes/living_room/data/chunk_00011.image4ub
scenes/living_room/data/chunk_00012.image4ub
scenes/living_room/data/chunk_00013.image4ub
scenes/living_room/data/chunk_00014.image4ub
scenes/living_room/data/chunk_00015.image4ub
scenes/living_room/data/chunk_00016.image4ub
scenes/living_room/data/chunk_00017.vsgf
scenes/living_room/data/chunk_00018.vsgf
scenes/living_room/data/chunk_00019.vsgf
scenes/living_room/data/chunk_00020.vsgf
scenes/living_room/data/chunk_00021.vsgf
scenes/living_room/data/chunk_00022.vsgf
scenes/living_room/data/chunk_00023.vsgf
scenes/living_room/data/chunk_00024.vsgf
scenes/living_room/data/chunk_00025.vsgf
scenes/living_room/data/chunk_00026.vsgf
scenes/living_room/data/chunk_00027.vsgf
scenes/living_room/data/chunk_00028.vsgf
scenes/living_room/data/chunk_00029.vsgf
scenes/living_room/data/chunk_00030.vsgf
scenes/living_room/data/chunk_00031.vsgf
scenes/living_room/data/chunk_00032.vsgf
scenes/living_room/data/chunk_00033.vsgf
scenes/living_room/data/chunk_00034.vsgf
scenes/living_room/data/chunk_00035.vsgf
scenes/living_room/data/chunk_00036.vsgf
scenes/living_room/data/chunk_00037.vsgf
scenes/living_room/data/chunk_00038.vsgf
scenes/living_room/data/chunk_00039.vsgf
scenes/living_room/data/chunk_00040.vsgf
scenes/living_room/data/chunk_00041.vsgf
scenes/living_room/data/chunk_00042.vsgf
scenes/living_room/data/chunk_00043.vsgf
scenes/living_room/data/chunk_00044.vsgf
scenes/living_room/data/chunk_00045.vsgf
scenes/living_room/data/chunk_00046.vsgf
scenes/living_room/data/chunk_00047.vsgf
scenes/living_room/data/chunk_00048.vsgf
scenes/living_room/data/chunk_00049.vsgf
scenes/living_room/data/chunk_00050.vsgf
scenes/living_room/data/chunk_00051.vsgf
scenes/living_room/data/chunk_00052.vsgf
scenes/living_room/data/chunk_00053.vsgf
scenes/living_room/data/chunk_00054.vsgf
scenes/living_room/data/chunk_00055.vsgf
scenes/living_room/data/chunk_00056.vsgf
scenes/living_room/data/chunk_00057.vsgf
scenes/living_room/data/chunk_00058.vsgf
scenes/living_room/data/chunk_00059.vsgf
scenes/living_room/data/chunk_00060.vsgf
scenes/living_room/data/chunk_00061.vsgf
scenes/living_room/data/chunk_00062.vsgf
scenes/living_room/data/chunk_00063.vsgf
scenes/living_room/data/chunk_00064.vsgf
scenes/living_room/data/chunk_00065.vsgf
scenes/living_room/data/chunk_00066.vsgf
scenes/living_room/data/chunk_00067.vsgf
scenes/living_room/data/chunk_00068.vsgf
scenes/living_room/data/chunk_00069.vsgf
scenes/living_room/data/chunk_00070.vsgf
scenes/living_room/data/chunk_00071.vsgf
scenes/living_room/data/chunk_00072.vsgf
scenes/living_room/data/chunk_00073.vsgf
scenes/living_room/data/chunk_00074.vsgf
scenes/living_room/data/chunk_00075.vsgf
scenes/living_room/data/chunk_00076.vsgf
scenes/living_room/data/chunk_00077.vsgf
scenes/living_room/data/chunk_00078.vsgf
scenes/living_room/data/chunk_00079.vsgf
scenes/living_room/data/chunk_00080.vsgf
scenes/living_room/data/chunk_00081.vsgf
scenes/living_room/data/chunk_00082.vsgf
scenes/living_room/data/chunk_00083.vsgf
scenes/living_room/data/chunk_00084.vsgf
scenes/living_room/data/chunk_00085.vsgf
scenes/living_room/data/chunk_00086.vsgf
scenes/living_room/data/chunk_00087.vsgf
scenes/living_room/data/chunk_00088.vsgf
scenes/living_room/data/chunk_00089.vsgf
scenes/living_room/data/chunk_00090.vsgf
scenes/living_room/data/chunk_00091.vsgf
scenes/living_room/data/chunk_00092.vsgf
scenes/living_room/data/chunk_00093.vsgf
scenes/living_room/data/chunk_00094.vsgf
scenes/living_room/data/chunk_00095.vsgf
scenes/living_room/data/chunk_00096.vsgf
scenes/living_room/data/chunk_00097.vsgf
scenes/living_room/data/chunk_00098.vsgf
scenes/living_room/data/chunk_00099.vsgf
scenes/living_room/data/chunk_00100.vsgf
scenes/living_room/data/chunk_00101.vsgf
scenes/living_room/data/chunk_00102.vsgf
scenes/living_room/data/chunk_00103.vsgf
scenes/living_room/data/chunk_00104.vsgf
scenes/living_room/data/chunk_00105.vsgf
scenes/living_room/data/chunk_00106.vsgf
scenes/living_room/data/chunk_00107.vsgf
scenes/living_room/data/chunk_00108.vsgf
scenes/living_room/data/chunk_00109.vsgf
scenes/living_room/data/chunk_00110.vsgf
scenes/living_room/data/chunk_00111.vsgf
scenes/living_room/data/chunk_00112.vsgf
scenes/living_room/data/chunk_00113.vsgf
scenes/living_room/data/chunk_00114.vsgf
scenes/living_room/data/chunk_00115.vsgf
scenes/living_room/data/chunk_00116.vsgf
scenes/living_room/data/chunk_00117.vsgf
scenes/living_room/data/chunk_00118.vsgf
scenes/living_room/data/chunk_00119.vsgf
scenes/living_room/data/chunk_00120.vsgf
scenes/living_room/data/chunk_00121.vsgf
scenes/living_room/data/chunk_00122.vsgf
scenes/living_room/data/chunk_00123.vsgf
scenes/living_room/data/chunk_00124.vsgf
scenes/living_room/data/chunk_00125.vsgf
scenes/living_room/data/chunk_00126.vsgf
scenes/living_room/data/chunk_00127.vsgf
scenes/living_room/data/chunk_00128.vsgf
scenes/living_room/data/chunk_00129.vsgf
scenes/living_room/data/chunk_00130.vsgf
scenes/living_room/data/chunk_00131.vsgf
scenes/living_room/data/chunk_00132.vsgf
scenes/living_room/data/chunk_00133.vsgf
scenes/living_room/data/chunk_00134.vsgf
scenes/living_room/data/chunk_00135.vsgf
scenes/living_room/data/chunk_00136.vsgf
scenes/living_room/data/chunk_00137.vsgf
scenes/living_room/data/chunk_00138.vsgf
scenes/living_room/data/chunk_00139.vsgf
scenes/living_room/data/chunk_00140.vsgf
scenes/living_room/data/chunk_00141.vsgf
scenes/living_room/data/chunk_00142.vsgf
scenes/living_room/data/chunk_00143.vsgf
scenes/living_room/data/chunk_00144.vsgf
scenes/living_room/data/chunk_00145.vsgf
scenes/living_room/data/chunk_00146.vsgf
scenes/living_room/data/chunk_00147.vsgf
scenes/living_room/data/chunk_00148.vsgf
scenes/living_room/data/chunk_00149.vsgf
scenes/living_room/data/chunk_00150.vsgf
scenes/living_room/data/chunk_00151.vsgf
scenes/living_room/data/chunk_00152.vsgf
scenes/living_room/data/chunk_00153.vsgf
scenes/living_room/data/chunk_00154.vsgf
scenes/living_room/data/chunk_00155.vsgf
scenes/living_room/data/chunk_00156.vsgf
scenes/living_room/data/chunk_00157.vsgf
scenes/living_room/data/chunk_00158.vsgf
scenes/living_room/data/chunk_00159.vsgf
scenes/living_room/data/chunk_00160.vsgf
scenes/living_room/data/chunk_00161.vsgf
scenes/living_room/data/chunk_00162.vsgf
scenes/living_room/data/chunk_00163.vsgf
scenes/living_room/data/chunk_00164.vsgf
scenes/living_room/data/chunk_00165.vsgf
scenes/living_room/data/chunk_00166.vsgf
scenes/living_room/data/chunk_00167.vsgf
